<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <title>Pagina Peticiones</title>
</head>
<body onload="FechasCombobox()" class="p-3 mb-2 bg-primary text-white">
    <button onclick="Salir()" type="button" class="btn btn-danger">REGRESAR</button>
    <div><br>
        <button id="BotonConsultarDatos" onclick="MostrarXMLsalida()" type="button" class="btn btn-success">Consultar Datos</button>
        
    </div>
    <div>
        <table>
            <tr align="center">
                <td>
                    <h3>SALIDA</h3>
                </td>
                <td width="60"></td> <!--Espacio de separacion entre la salida y opciones de filtrado-->
                <td>
                    <table class="Tabla_Para_Filtracion">
                        <tr>
                            <td colspan="3">
                                Filtrar informacion por:
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button id="OrdenarFecha" onclick="OrdenarPorFecha()" type="button" class="btn btn-warning">Fecha</button>
                            </td>
                            <td width="60"></td>
                            <td>
                                <button id="OrdenarCodigo" onclick="OrdenarPorCodigoError()" type="button" class="btn btn-warning">Codigo de Error</button>
                            </td>
                            <td width="60"></td>
                            <td>
                                <button id="BotonFiltrar" onclick="EnviarOrden()" type="button" class="btn btn-success" disabled>FILTRAR</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select id="cbb1"  name="ComboBox1" disabled>
                                </select>
                            </td>
                            <td width="60"></td>
                            <td>
                                <input id="AreaCodigo"  type="text" disabled>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <textarea id="MostrarXML_salida"  cols="90" rows="18" disabled></textarea>
                </td>
            </tr>
        </table>
    </div>
    

 <!--==Creacion de funciones === -->       
    <script>
        var FlagFecha=false, flagCodigo=false;

        function MostrarXMLsalida(){
            document.getElementById("BotonConsultarDatos").disabled=true;
            var MostrarXMLSalida = document.querySelector('#MostrarXML_salida')

            fetch('http://localhost:4000/CargarXMLsalida')
            .then(response => response.json())
            .catch(error => {
                alert("Ocurrio un error, verificar consola!!!")
                console.log(error)
            })
            .then(res =>{
                for(var i in res){
                    MostrarXMLSalida.innerHTML += res[i]   //res toma la parte de la respuesta del Json, no el mensaje
                }
            })
        }

        function Salir(){
            location.href="http://localhost:8000/"
        }

        function OrdenarPorFecha(){
            document.getElementById("BotonFiltrar").disabled=false;
            document.getElementById("cbb1").disabled=false;
            document.getElementById("AreaCodigo").disabled=true;
            FlagFecha=true;
            flagCodigo=false;

        }

        function OrdenarPorCodigoError(){
            document.getElementById("BotonFiltrar").disabled=false;
            document.getElementById("AreaCodigo").disabled=false;
            document.getElementById("cbb1").disabled=true;

            document.getElementById("AreaCodigo").value="";
            flagCodigo=true;
            FlagFecha=false;
        }

        function EnviarOrden(){
            document.getElementById("cbb1").disabled=true;
            document.getElementById("AreaCodigo").disabled=true;
            document.getElementById("BotonFiltrar").disabled=true;

            if (flagCodigo == true){
                if (document.getElementById("AreaCodigo").value == ""){
                    alert("!! Debe Ingresar un Codigo de Error !!")
                }else{
                    alert("!! Filtración por codigo enviada !! --ESPERE UN MOMENTO--");
                    ObtenerValorCodigo();
                    
                }
            }else{
                alert("!! Filtración por fecha enviada !! --ESPERE UN MOMENTO--");
                ObtenerValorFecha();
                
            }
            
        }

        function FechasCombobox(){
            var cbox= document.getElementById("cbb1");

            fetch('http://localhost:4000/ListaFechas')
            .then(response => response.json())
            .catch(error => {
                console.log(error)
            })
            .then(res =>{
                var fechas="";
                for(var i in res){
                    fechas+=res[i];
                }// i toma los valores de las claves que posea la respuesta, en este caso solo existe una
                // clave, por lo que, toda la respuesta a pesar de ser una lista, se concatenará como una sola variable.
                fechas=fechas.split(",");
                for(var i=0; i<fechas.length;i++){
                    cbox.options[i] = new Option(fechas[i],fechas[i]); 
                }                            //(dato a mostrar en combobox,valor del dato)
            })
        }

        function ObtenerValorFecha(){   //Permite obtener el valor seleccionado desde el combobox
            var comboboxFecha = document.getElementById("cbb1");
            var ValorSeleccionado = comboboxFecha.options[comboboxFecha.selectedIndex].text;
            var objetoFecha= {
                'DatoFecha':ValorSeleccionado
            }

            fetch('http://localhost:4000/OrdenarFecha', {
                method: 'POST',
                body: JSON.stringify(objetoFecha),
                headers:{
                    'Content-Type':'application/json'
                }
            }).then(response => response.json())
            .catch(error =>{
                alert("!!Ocurrió un error, revisar la consola !!")
                console.log(error);
            })
            .then(res =>{
                alert(res["mensaje"]);
            })
        }

        function ObtenerValorCodigo(){
            var areaCodigoError = document.getElementById("AreaCodigo").value;
            
            fetch(`http://localhost:4000/OrdenarCodigo/${areaCodigoError}`)    // utilizar( ` ), ese simbolo cuando se necesite enviar un dato por la ruta.
            .then(response => response.json())
            .catch(error => {
                alert("ocurrio un error, verifiar consola !!");
                console.log(error)
            })
            .then(res =>{
                alert(res["mensaje"]);
            })

        }
        
    </script>

</body>
</html>